{% extends 'account/base.html' %} {% load static %} {% load crispy_forms_tags %}


  {% block content %}

  <div class="container">

  <div class="float-right">
    <a href="{% url 'add_incident' %}">
      <span data-toggle="tooltip" data-placement="top" title="Add member" 
      class="material-icons md-18 edit-note">add</span>
    </a>
  </div>
  <br><br>
  <table class="table table-hover asn-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">LINK</th>
        <th scope="col">START TIME</th>
        <th scope="col">END TIME</th>
        <th scope="col">DURATION</th>
        <th scope="col">RCA</th>
        

      </tr>
    </thead>
    <tbody>

      {% for incident in incidents %}
      <tr>
        <td>
          {{ forloop.counter }}
        </td>
        <td>
            {{ incident.link }}
        </td>
        <td>
          {{ incident.start_time }}
        </td>
        <td>
          {{ incident.end_time }}
        </td>
        <td>
          {{ incident.duration }}
        </td>
        <td>
          {{ incident.rca }}
        </td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>
  {% endblock %}

  

